* {
    box-sizing: border-box;
  }
  
#aboutCont {
    height: 100vh;
    padding-top: 120px;
    background: -webkit-linear-gradient(330deg, #e499be 30%, white 30%);
    background: -o-linear-gradient(330deg, #e499be 30%, white 30%);
    background: -moz-linear-gradient(330deg, #e499be 30%, white 30%);
    background: linear-gradient(140deg, #e499be 30%, white 30%);
}

#aboutPaper {
    width: 80%;
    margin: auto;
    padding: 35px 5% 5% 5% ;
    position: relative;
}

#palmOne {
    top: -20px;
    left: -13px;
    transform: rotate(110deg);
}

#palmTwo {
    top: -27px;
    right: -6px;
    transform: rotate(204deg);
}

#palmThree {
    bottom: -23px;
    left: -4px;
    transform: rotate(21deg);
}

#palmFour {
    bottom: -19px;
    right: -9px;
    transform: rotate(-76deg);
}

.palmImg {
    width: 74px;
    position: absolute;
}

#aboutImg {
    width: 80%;
    border : 14px solid #e499be;
}

#aboutImgGrid {
    text-align: center;
    margin: auto;
}

#aboutGrid {
    text-align: justify;
}

@media only screen and (max-width: 400px) {
    #aboutPaper {
        width: 95%;
    }
}