@keyframes borderAnim {
    0%   {border-left: .5px solid #ffffff; border-right: .5px solid #ffffff; border-bottom: .5px solid #ffffff}
    25%  {border-left: 1px solid #ffe6e6; border-right: 1px solid #ffe6e6; border-bottom: 1px solid #ffe6e6}
    50%  {border-left: 1.5px solid #e6b6ce; border-right: 1.5px solid #e6b6ce; border-bottom: 1.5px solid #e6b6ce}
    100% {border-left: 2px solid #e499be; border-right: 2px solid #e499be; border-bottom: 2px solid #e499be}
}

#skillP:hover{
    cursor: url(../../assets/img/palmPointer.png), pointer;
    animation-name: borderAnim;
    animation-duration: 0.15s;
    border-left: 3px solid #e499be;
    border-right: 3px solid #e499be;
    border-bottom: 3px solid #e499be;
    box-shadow: 0 4px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

