#yarnDetailContainer{
    padding-top: 100px;
    background: -webkit-linear-gradient(210deg, #e499be 25%, white 25%);
    background: -o-linear-gradient(210deg, #e499be 25%, white 25%);
    background: -moz-linear-gradient(210deg, #e499be 25%, white 25%);
    background: linear-gradient(210deg, #e499be 25%, white 25%);
    background-size: cover;
}

.yarnDetailContent{
    width: 70%;
    margin: auto;
}