#socialCard {
    border-radius: 50%;
    padding-top: 30px;
    height: 350px;
    width: 350px;
    text-align: center;
    position: relative;
    border: 25px solid #e499be;
    margin-top: 76px;
    z-index: 2;
    a{
        text-decoration: none;
        color: black;
        margin: 0 .5rem 0 .5rem;
    }
}

#palmImgSocial {
    position: absolute;
    width: 235px;
    transform: rotate(15deg);
    top: 56px;
    right: 28px;
    z-index: -1;
}





